/* Import PT Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 20px; /* Default font size for the whole webpage */

}

/* Base styles for sidebar */
.sidebar {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    padding: 2rem 1rem;
    color: rgba(255,255,255,.5);
    background-color: #202020;
    position: fixed; /* Fixed position on larger screens */
    top: 0;
    left: 0;
    bottom: 0;
    width: 22rem; /* Fixed width for the sidebar */
    text-align: left;
    overflow-y: auto; /* Allows scrolling if content overflows */
    display: flex; /* Use flexbox for positioning */
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end; /* Align content to the bottom */

}



/* Styles for the h1 inside the introduction section */
#introduction h1 {
    font-size: 2em; /* Larger font size for the heading */
    color: #fff; /* White color text for the heading */
}

/* Styles for paragraphs inside the introduction section */
#introduction p {
    font-size: 1em; /* Default font size for the paragraph */
}

/* Styles for the feedback call-to-action section */
#feedback-cta {
    font-size: 16px; /* Smaller font size for the feedback CTA */
}

#feedback-cta a {
    color: #fff; /* White color for email link */
    text-decoration: underline; /* Underline to signify it's clickable */
}

/* Styles for the footer */
footer {
    font-size: 14px; /* Smaller font size for the footer */
    font-style: italic; /* Italic font style for the footer */
    color: rgba(255,255,255,.75); /* Slightly brighter text color for footer for better readability */
}


/* On smaller screens, we allow the sidebar content to flow in the normal document flow */
@media (max-width: 768px) {
    .sidebar {
        position: relative; /* Resets to default position */
        width: auto; /* Takes the full width of the screen */
    }

    #introduction h1 {
        font-size: 1.2em; /* Smaller font size for mobile */
    }

    #introduction p,
    #feedback-cta{
        font-size: 0.75em; /* Adjust font size for mobile */
    }

    footer {
        font-size: 0.6em; /* Adjust font size for mobile */
    }

    #feedback-cta a {
        font-size: inherit; /* Ensures font size is consistent with the surrounding text */
    }
}

main {
    /* Assuming main content should start after the sidebar */
    margin-left: 22rem; /* Same width as the sidebar */
    /* margin-right: 4rem;*/
    padding: 4rem; /* Consistent padding with sidebar */
}


/* Adjusting main content for smaller screens */
@media (max-width: 768px) {
    main {
        margin-left: 0; /* No sidebar on the left */
        padding: 1rem; /* Consistent padding with sidebar */
    }
    main h1 {
        font-size: 1.2em; /* Larger font size for the heading */
    }
}

@media (max-width: 768px) {
    /* Reduce overall font size slightly for mobile readability */

    #fifaForm {
        padding: 10px; /* Smaller padding on mobile */
        flex-direction: column; /* Stack elements vertically */
        align-items: stretch; /* Stretch elements to full width */
    }

    #fifaForm select {
        width: calc(100% - 20px); /* Full width minus padding */
        margin-bottom: 10px; /* Add space between dropdowns */
    }

    .buttons-container {
        flex-direction: column; /* Stack buttons vertically */
    }

    #calculateButton, #clearResultsButton {
        width: 100%; /* Full width for easy tap */
        margin-bottom: 10px; /* Space between buttons */
    }
}



#fifaForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    gap: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#fifaForm > div {
    display: flex;
    align-items: center;
}

#fifaForm select {
    min-width: 140px; /* Minimum width for dropdowns */
    padding: 10px; /* Make the dropdowns taller, easier to interact with */
    border: 1px solid #ccc; /* Subtle border color */
    border-radius: 5px; /* Match the border-radius with other elements */
    background-color: white; /* Ensure the background is white for readability */
    -webkit-appearance: none; /* Removes default styling particularly in iOS */
    -moz-appearance: none; /* Removes default styling particularly in Firefox */
    appearance: none; /* Removes default styling */
    font-family: inherit; /* The dropdowns should inherit the font-family from the body */
    font-size: 1rem; /* Adjust font size as needed */
    color: #333; /* Text color for the options */
    background-image: url('chevron16px.png'); /* A custom arrow image */
    background-position: right 10px center; /* Position for the custom arrow image */
    background-repeat: no-repeat; /* No repeat for the custom arrow image */
    background-size: 16px 16px; /* Or the size to which you resized your icon */
    -webkit-appearance: none; /* Removes default styling on WebKit browsers */
    -moz-appearance: none; /* Removes default styling on Firefox */
    appearance: none; /* Removes default styling */

    margin-bottom: 20px; /* Space between each form element */
}

#fifaForm select:focus {
    border-color: #0056b3; /* Highlight color when the dropdown is focused */
    outline: none; /* Remove default focus outline */
}

.buttons-container {
    width: 100%; /* Full width to allow centering */
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Space between form elements and buttons */
}


#fifaForm select, #fifaForm input[type="hidden"] {
    min-width: 140px; /* Minimum width for dropdowns */
}

.buttons-container {
    width: 100%; /* Full width to allow centering */
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Space between form elements and buttons */
}


#calculateButton, #clearResultsButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calculateButton:hover, #clearResultsButton:hover {
    background-color: #0056b3;
}


#error-message {
    color: red;
    margin: 10px 0;
}

.result-card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 30px; /* Increase padding at the bottom */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}

/* General styling for the header of each result card */
.result-card-header {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* Styling for the paragraphs inside the header */
.result-card-header .simulation-info {
    font-weight: normal; /* This is default and can be omitted */
    margin: 0; /* Ensures there's no extra space around the paragraph */
}

.result-card-header .importance-info {
    font-size: 0.9em; /* Slightly smaller than the simulation info */
    font-style: italic;
    margin-top: 5px; /* Adds some space between the lines */
  }

/* Specific styling for strong and em tags inside the header */
.result-card-header strong {
    font-weight: 700; /* This makes the team names bold */
}

.result-card-header em {
    font-style: italic; /* This could be used to make certain text italic, if needed */
}

/* This selector targets all <a> elements directly inside .result-card */
.result-card > a {
    position: absolute;  /* Position absolutely within the parent .result-card */
    bottom: 5px;       /* Position at the bottom with 10px offset */
    right: 5px; /* Position the link from the right edge of the card */
    left: 50%;          /* Center horizontally */
    transform: translateX(-50%); /* Offset by half of its own width to center */
    text-align: center;
    font-size: 0.75rem; /* Slightly larger font size for readability */
    color: #007bff;     /* Bootstrap's default link color for consistency */
    text-decoration: underline; /* Traditional link underline */
    padding: 5px;       /* To increase click area without increasing font size */
    background: none;   /* Ensure no background to maintain minuscule appearance */
    border: none;       /* No border */
    cursor: pointer;    /* Cursor to indicate it's clickable */
    opacity: 0.7;       /* Slightly transparent to be less obtrusive */
    transition: opacity 0.3s; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for the link */
  .result-card > a:hover {
    opacity: 1; /* Full opacity on hover */
    text-decoration: none; /* Optional: removes underline on hover for a modern look */
  }
  
  

.result-scenario {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    #fifaForm {
        flex-direction: column;
    }
}

form {
    margin-bottom: 20px;
}

label, input, select, button {
    margin: 10px;
}

#results {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

}


th {
  background-color: #f2f2f2;
  font-weight: 700;
}

td {
  padding: 8px;
  text-align: right; /* Right-align numeric values */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for rows */
}

td:first-child,
th:first-child {
  text-align: left; /* Align scenario text to the left */
}
