@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #0056b3; /* A shade of blue */
    --secondary-color: #f8f9fa; /* A light grey for backgrounds */
    --text-color: #333; /* A dark grey for text */
  }
  
header, footer {
    background-color: var(--secondary-color);
}
  
button {
    background-color: var(--primary-color);
    color: white;
    /* Add hover effect */
    transition: background-color 0.3s;
}
  
button:hover {
    background-color: darken(var(--primary-color), 10%);
}


.content-wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    padding-top: 70px; /* height of your header plus some extra space */

}



#fifaForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    gap: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#fifaForm > div {
    display: flex;
    align-items: center;
}

#fifaForm label {
    margin-right: 0.5em; /* Space between label and dropdown */
}

#fifaForm select, #fifaForm input[type="hidden"] {
    min-width: 140px; /* Minimum width for dropdowns */
}

.buttons-container {
    width: 100%; /* Full width to allow centering */
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Space between form elements and buttons */
}


#calculateButton, #clearResultsButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calculateButton:hover, #clearResultsButton:hover {
    background-color: #0056b3;
}


#error-message {
    color: red;
    margin: 10px 0;
}

.result-card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* General styling for the header of each result card */
.result-card-header {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* Styling for the paragraphs inside the header */
.result-card-header .simulation-info {
    font-weight: normal; /* This is default and can be omitted */
    margin: 0; /* Ensures there's no extra space around the paragraph */
}

.result-card-header .importance-info {
    font-size: 0.9em; /* Slightly smaller than the simulation info */
    font-style: italic;
    margin-top: 5px; /* Adds some space between the lines */
  }

/* Specific styling for strong and em tags inside the header */
.result-card-header strong {
    font-weight: 700; /* This makes the team names bold */
}

.result-card-header em {
    font-style: italic; /* This could be used to make certain text italic, if needed */
}


.result-scenario {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    #fifaForm {
        flex-direction: column;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

h1, h2, h3, .emphasis {
    font-weight: 700; /* This selects the bold weight of Roboto */
  }
  

form {
    margin-bottom: 20px;
}

label, input, select, button {
    margin: 10px;
}

#results {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

}


th {
  background-color: #f2f2f2;
  font-weight: 700;
}

td {
  padding: 8px;
  text-align: right; /* Right-align numeric values */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for rows */
}

td:first-child,
th:first-child {
  text-align: left; /* Align scenario text to the left */
}

footer {
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional shadow for a "lifted" effect */
    font-size: 0.9rem; /* Slightly smaller font for the footer */
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-top: 1px solid #ddd; /* subtle separation from content */
}

footer p {
    margin: 0; /* Remove default margins */
}

.app-header {
    text-align: center;
}

.app-header h1 {
    margin: 0;
    color: #333; /* Dark color for the title text */
}

.app-header .tagline {
    margin: 0;
    color: #666; /* Lighter color for the tagline text */
    font-style: italic;
}
